<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image"><img src="../../assets/img/02.jpg" alt="Image" /></figure>
    </div>
    <div class="media-content">
      <div class="content">
        <strong>Restaurant</strong> <br />
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item" aria-label="reply">
            <span class="icon is-small"> <i class="fas fa-star"></i> </span>
            <span class="icon is-small"> <i class="fas fa-star"></i> </span>
            <span class="icon is-small"> <i class="fas fa-star"></i> </span>
            <span class="icon is-small"> <i class="far fa-star"></i> </span>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>