<header class="header">
  <div class="mask">
    <div class="intro">
      <h1>Good afternoon, Jhon</h1>
      <p>It'stime for lunch</p>
    </div>
  </div>
</header>
<section class="form">
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input class="input " type="text" placeholder="Search Restaurant" />
      <span class="icon is-small is-left">
        <i class="fas fa-map-marker-alt"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-search"></i>
      </span>
    </p>
  </div>
</section>