<section class="today-food">
  <div class="today">
    <a href="" class="desc">
      <img src="../../assets/img/today/01.jpg" alt="" />
      <p>$$</p>
    </a>
    <a href="" class="desc">
      <img src="../../assets/img/today/02.jpg" alt="" />
      <p>$$</p>
    </a>
  </div>
  <div class="today">
    <a href="" class="desc">
      <img src="../../assets/img/today/03.jpg" alt="" />
      <p>$$</p>
    </a>
    <a href="" class="desc">
      <img src="../../assets/img/today/04.jpg" alt="" />
      <p>$$</p>
    </a>
  </div>
</section>